* {
  margin: 0px;
  padding: 0px;
}

.app {
  min-width: 654px;
}

.header {
  height: 100px;
  margin: auto;
  border-bottom: solid 1px #333;
  box-shadow: 0px 0px 5px 0px;
}

.app-name {
  margin: 0px;
  padding: 5px 0px;
  text-align: center;
  background-color: #ccc;
}

.navigation {
  margin: 10px;
}

.nav-item {
  text-align: center;
}

.nav-link, .nav-link:hover, .nav-link.disabled {
  color: #000;
}

.login-nav {
  margin: 0px 0px 0px 100px;
}

.login-card {
  width: 600px;
  margin: 20px auto;
}

.avatar {
  border-radius:100px;
  width: 150px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.poll-question {
  font-size: 14px;
  display: inline-block;
  width: 390px;
  padding-left:20px;
  border-left: solid 1px #eee;
}

.poll-question p {
  margin: 0px;
}

.poll-answer {
  margin-bottom: 20px;
  border: solid 1px #333;
  padding: 20px; 
  border-radius: 5px;
  position: relative;
}

.your-vote {
  position: absolute;
  background-color: green;
  width: 40px;
  height: 40px;
  color: white;
  line-height: 12px;
  text-align:center;
  padding-top: 7px;
  border-radius: 50px;
  right: -10px;
  top: -10px;
  font-size: 12px;
}

/*bootstrap*/
.progress, .progress-bar {
  height: 30px;
}

/*bootstrap*/
.progress {
  margin: 10px 0px;
}

.new-question {
  width: 600px; 
  margin: 20px auto;
}

.input{
  border-radius: 5px;
  height: 35px;
  padding: 5px;
  width: 100%;
  border: solid 1px #ccc;
}

.or-line {
  border-top: solid 1px #ccc;
  margin: 25px 0px;
  position: relative;
}

.or {
  font-size: 14px;
  font-weight: bolder;
  position: absolute;
  top: -12px;
  width: 30px;
  height: 20px;
  left: 265px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.home-titles {
  width: 600px;
  border: solid 1px #ccc;
  border-radius: 5px 5px 0px 0px;
  height: 40px;
  margin: 20px auto 0px;
}

.tab {
  display: inline-block;
  width: 299px;
  text-align: center;
  height: 39px;
  padding: 7px 0px;
  cursor: pointer;
}

.selected {
  background-color: #ccc;
}

.home-container {
  width: 600px;
  height: 40px;
  border: solid 1px #ccc;
  border-top: 0px;
  margin: 0px auto 20px;
  height: auto;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
}

.home-card {
  width: 500px;
  margin: auto;
}

.home-poll-question {
  font-size: 14px;
  display: inline-block;
  width: 290px;
  padding-left:20px;
  border-left: solid 1px #eee;
}

.lb-card {
  margin-bottom: 20px;
}

.lb-card-ribbon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0; 
  height: 0; 
  border-top: 30px solid green;
  border-bottom: 30px solid transparent;
  border-left: 30px solid green;
  border-right: 30px solid transparent;
  border-radius: 5px 0px 0px 0px;
}

.lb-card-trophy {
  position: absolute;
  top: 3px;
  left: 6px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.lb-card-container {
  display: inline-block;
  width: 240px;
  height: 150px;
  border: solid 1px #ccc;
  border-top: 0px;
  border-bottom: 0px;
  padding: 0px 20px;
  margin-right: 20px;
}

.lb-card-score {
  display: inline-block;
  text-align: center;
  width: 130px;
  vertical-align: top;
  height: 150px;
}

.lb-score-number {
  color: #fff;
  margin: auto;
  padding: 9px;
  background-color: #0275d8;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.lb-card-info {
  width: 200px;
  height: 35px;
}

.lb-card-info-line {
  border-bottom: solid 1px #ccc;
}

.lb-card-info-question {
  width: 180px;
  float: left;
}

.lb-card-info-number {
  width: 20px;
  float: left;
}